<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>PosePlay</title>
</head>
<body>
    <div class="hero">
        <h1>PosePlay ✌️</h1>
        <p>Empowering a healthy lifestyle through social interaction</p>
        <div>
            <a href="/join">Join Room</a>  |  <a href="/create">Create Room</a>
        </div>
    </div>
</body>
</html>